{% layout 'layout.liquid' %}
{% block content %}
<h1>Blog Posts</h1>
<ul>
  {% for blog in blogs %}
    <li>
      <h2>{{ blog.title }}</h2>
      <p>{{ blog.content }}</p>
      <p>Author: {{ blog.author }}</p>
    </li>
  {% endfor %}
</ul>

{% endblock %}