{% layout 'layout.liquid' %}
{% block content %}
    <div class="container-sm">
        <form action="/blogs" method="POST">
            <fieldset>
                <legend>Create New post </legend>
                <label class="form-label">Title:</label>
                <input 
                    type="text" class="form-control" 
                    name="title" placeholder="What is the title of Blog?"
                    required
                >
                <label class="form-label">content:</label>
                <input 
                    type="text " class="form-control" 
                    name="content" placeholder="Write some article"
                    required >

                    <label class="form-label">Author:</label></br>

                      <input type="text" name = "author" placeholder="Author name"
                    required >

            </fieldset></br>

            <input type="submit" class="btn btn-success" value="Submit">
        </form>
    </div>
{% endblock %}