{% layout 'layout.liquid' %}
{% block content %}
    <div class="container-sm">
        <form action="/blogs" method="POST">
            <fieldset>
                <legend>Create New post </legend>
                <label class="form-label">Name:</label>
                <input 
                    type="text" class="form-control" 
                    name="title" placeholder="What is the title of Blog?"
                    required
                >
                <label class="form-label">Articles:</label>
                <input 
                    type="text " class="form-control" 
                    name="content" placeholder="Write some articles?"
                    required >
                    <label class="form-label">Author:</label>
                     
                    <input type="text" name = "author" placeholder="Author name"
                    required >
            </fieldset>
            <input type="submit" class="btn btn-success" value="PostIt">
        </form>
    </div>
{% endblock %}